<header class = "jumbotron">
  <h2 id="title">Welcome to the Dope Blog</h2>
  <nav>
    <p>{{#link-to "index"}}Home{{/link-to}} {{#link-to "about"}}About{{/link-to}} {{#link-to "contact"}}Contact{{/link-to}}</p>
  </nav>
</header>

<div class="container">

{{outlet}}

</div>

  <hr>

<footer> {{#link-to 'contact'}}Our dope blog bud-samplers would love to help!{{/link-to}}</footer>
