<header>
  <h2 id="title">Welcome to Ember</h2>
  <nav>
    <p>{{#link-to "index"}}Home{{/link-to}} {{#link-to "about"}}About{{/link-to}} {{#link-to "contact"}}Contact{{/link-to}}</p>
  </nav>
</header>

{{outlet}}


<footer> </footer>
