<h1> Contacts</h1>
{{outlet}}

<p>Amazing bud-samplers would love to help you choose a strain
any questions you may have.</p>

<p>Contact us today:</p>

<p>
  Super Dope Blog HQ<br>
  208 SW 5th Avenue<br>
  Portlandia, OR 97201
</p>

<p>(503)555-1212</p>

<p>dopeBlog@dopeBlog.com</p>
